
/*GENERAL*/

html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../images/main_background.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }


img {
	max-width: 100%;
	height: auto;
	vertical-align: center;
}

h1 {
	font-family: 'Piazzolla', serif;
	color: #FFE800;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffd;
	cursor: pointer;
}

p {
	line-height: 1.8em;
	margin-bottom: 0;
}

.container	{
	max-width: 65%;
	padding: 0.3125em; /* 5/16 */
	margin: 0 auto;
}

.back-to-top {
	position: fixed;
	z-index: 20;
	right: 20px;
	bottom: 65px;
	color:  #AA53B8;
}

.back-to-top:hover, .back-to-top:focus {
	color: #F19FF2;
	transition: color 0.3s;
}

/*HEADER*/

.head-bar {
	background: url("../images/header_banner.jpg") 25% 97% no-repeat;
	margin-bottom: 0.9375em; /* 15/16 */
}

.head-bar .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 1.5625em;  /* 25/16 */
}

.head-bar p {
	font-family: 'Cinzel', serif;
}


p.title
{
    position: relative;
}

p.title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em; /* 2/16 */
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out;
}

p.title:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

.translate {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	top: 0%;
	left: 95%;
}
.translate a {
	columns: #fff;
	text-decoration: underline;
	font-size: 0.6875em; /* 11/16 */
}

.fa-globe {
	margin-right: 0.27272727272727272727272727272727em;
}

/*MAIN*/

/*Border animation*/

.photo1 {
	max-width: 100%;
	filter: grayscale(100%);
}
.photo1:hover, .photo1:focus {filter: none;}

.box .photo1 {
	display: flex;
	justify-content: center;
}


.box{
	display: flex;
	top: 3.75em;  /* 60/16 */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5.625em; /* 90/16 */
	width: 9.375em; height: 10.875em; /* 150/16 */ /* 174/16 */
	background-color: #DDFFF7;
	position: relative;
	box-shadow: 0.625em 0.625em 2.625em 0 rgba(0,0,0,0.75); /* 10/16 */ /* 10/16 */ /* 42/16 */
}
.box:after, .box:before{
	mix-blend-mode:lighten;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (3.125em * 2)); /* 50/16 */
	height:calc(100% + (3.125em * 2)); /* 50/16 */
	position: absolute;
	display: block;
	animation: border 10s ease-in-out infinite;
	transform:translateX(-3.125em) translateY(-3.125em); /* 50/16 */ /* 50/16 */
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box:after{
	animation-delay: -5s;
	background-color: #AA53B8;
	clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}
.box:before {
	background-color: #FAA168;
	  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}

.box:hover:after{
	animation-delay: -0.1s;
}
.box:hover:before, .box:hover:after {

          animation-duration: 1s;
}
/*Border animation*/

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.wrap {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

section {
	margin: 0.625em 0 0.625em 0; /* 10/16 */ /* 10/16 */
	width: 100%;
}

th {
	padding: 0.125em 0.375em 0.125em 0;
}

td {
	vertical-align: bottom;
}

hr {
	background: slategray;
}

.s1 {
	width: auto;
}

.s7 {padding-bottom: 0.625em; /* 10/16 */}

.s8 {margin-top: 0.2em;}

.s1 h1,
.s2 h1,
.s3 h1,
.s4 h1,
.s5 h1,
.s6 h1,
.s7 h1,
aside h1 {
	font-size: 1.875em; /* 30/16 */
	margin-bottom: 0.5em; /* 15/30 */
	display: flex;
	justify-content: center;
	width: 100%;
}

.s2 h1,
.s3 h1,
.s4 h1,
.s5 h1,
.s6 h1,
.s7 h1 {
	cursor: pointer;
}


.s6 h6 {
	font-size: 1.25em;  /* 20/16 */
	margin-bottom: 0.9375em; /* 15/16 */
	display: flex;
	justify-content: center;
	width: 100%;
}
.s1 {
	display: flex;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
}

.contact {
	margin-left: 6em;
}

.contact h1 {
	text-decoration: underline;
}

.contact-flex {
	display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
	/* margin-right: 1.25em; /* 20/16 */
	color: #A69E9D;
}

.contact-info a{
	color: #A69E9D;
	text-decoration: none;
}

.contact-info a:hover,
.contact-info a:hover {
	color: #fff;
	border: 0.0625em solid black; /* 1/16 */
	background: #5D3D8A;
	padding: 0.1875em; /* 3/16 */
	font-size: 1.0625em; /* 17/16 */
}


.s2 p,
.s3 p,
.s4 p,
.s5 p,
.s6 p,
.s7 p {
	display: flex;
	justify-content: center;
}

.s3 ul,
.s4 ul,
.s5 ul {
	list-style: square;
	list-style-position: inside;
	text-indent: -1.4375em; /* 23/16 */
    padding-left: 1.4375em; /* 23/16 */
}

.s3 ul li,
.s5 ul li {
	margin-top: 0.9375em; /* 15/16 */
}

.s4-ul-li2 {margin-top: 0.9375em; } /* 15/16 */

.s3 ul li:first-child,
.s5 ul li:first-child {margin-top: 0; }

.s6 li {
	list-style: none;
}

.s6 ul li{
	list-style: square;
	list-style-position: inside;
	text-indent: -1.4375em; /* 23/16 */
    padding-left: 1.4375em; /* 23/16 */
}

.s7 {
	margin-top: 0;
}

.bar {
	background: #F38808;
	display: block;
	height: 0.6125em; /* 9.8/16 */
	border: 0.0625em solid rgba(0,0,0,0.3); /* 1/16 */
	border-radius: 0.1875em; /* 3/16 */
	overflow: hidden;
	box-shadow: 0 0 0.375em #F19FF2; /* 6/16 */
	margin-bottom: 1.25em /* 20/16 */
}

.bar span {
	height: 0.6125em; /* 9.8/16 */
	float: left;
	background: #2187e7;
}

.s6 .slide {
	width: 85%;
	margin: 0 auto;
}

.ms_off {width: 50%;}

.windows {width: 47%;}

.hw_sw {width: 45%;}

.html {width: 35%;}

.css3 {width: 35%;}

.jquery {width: 25%;}

.autocad {width: 30%;}

.inventor {width: 30%;}

.alert a {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

.alert {
	text-align: center;
	background: #BF783B;
	color: #fff;
	font-size: 0.875em; /* 14/16 */
	margin-top: 2.2em;
}

.arrow {
	margin-left: 0.666667em;
	margin-top: 0.24em;
}

.rotated {transform: rotate(180deg);}

/*ASIDE SLIDER*/

aside.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider2 {
    width: 100%; /* 720/16 */ /*45em*/
    height: auto;
	overflow: hidden;
	box-shadow: 0 0 0.625em rgb(199, 195, 195); /* 10/16 */
	border-radius: 0.3125em; /* 5/16 */
	
}

.slides2 {
    width: 500%; /* 6000/16 */ /*375em*/
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
}

.slide2 {
    list-style-type: none;
    width: 100%; /* 720/16 */ /*45em*/
    height: auto;
}

/*FOOTER*/

footer {
	background: url("../images/footer_banner.jpg") 25% 97% no-repeat;
	background-attachment: cover;
	color: #A944B5;
}


.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.625em; /* 10/16 */
}

.footer p:first-child {color: #FFE800;}

.footer span {
	font-weight: 700;
	text-transform: uppercase;
}


/*MEDIA QUERIES*/

@media (max-width: 1305px) {

	.wrap {
		font-size: 90%;
		margin-top: 5%;
	}
}

@media (max-width: 1169px) {

	.translate {left: 94%;}
}

@media (max-width: 1013px) {

	.contact {
		margin-right: 6em;
	}

	th, td {
		border-bottom: 0.0625em solid rgba(166,158,157,0.3);
	}

	/*.container {max-width: 90%;}*/
}

@media (max-width: 977px) {

	.translate {left: 93%;}
}

@media (max-width: 956px) {

	.contact {
		margin-right: 3.125em;
		margin-left: 3.125em;
	}
}


@media (max-width: 850px) {

	.wrap {font-size: 80%;}

	.head-bar .container {
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 80%;
	}

	footer .container{
		flex-wrap: wrap;
		flex-direction: column;
	}

	.back-to-top {
		bottom: 130px;
	}
}

@media (max-width: 839px) {

	.translate {left: 92%;}
}

@media (max-width: 812px) {

	.contact {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 736px) {

	.translate {left: 91%;}

}

@media (max-width: 706px) {

	.container {max-width: 75%;}

}
@media (max-width: 656px) {

	.translate {left: 89%;}
	.container {max-width: 80%;}
	i.fa-3x {font-size: 2em;}
}

@media (max-width: 539px) {

	.translate {left: 88%;}
	.container {max-width: 90%;}
	.back-to-top {right: 11px;}
}

@media (max-width: 496px) {

	.translate {left: 86%;}
}

@media (max-width: 445px) {

	body {font-size: 90%;}

	.back-to-top {
		bottom: 115px;
	}
}

@media (max-width: 369px) {

	footer .container{
		display: block;
		text-align: center;
		font-size: 80%;
	}
	.back-to-top {bottom: 100px;}
	i.fa-3x {font-size: 1.5em;}
}

@media (max-width: 385px) {

	.translate {left: 85%;}
}

@media (max-width: 361px) {

	.translate {left: 84%;}
}

@media (max-width: 339px) {

	.translate {left: 83%;}
}
